<div class="float-end"><%= link_to 'Adicionar novo', new_customer_path, class: 'btn btn-success' %></div>
<% if action_name == 'index' %>
  <div><%= link_to 'Clientes em atraso', filtered_index_customers_path, class: 'btn btn-danger' %></div>
<% end %>
<div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">Id</th>
        <th class="col-10">Nome</th>
        <th class="col-1"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>   
      <tr>
        <td class="row"><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td>
          <%= link_to customer_path(customer), class: "btn btn-green" do  %>
            <i class="bi bi-eye-fill"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
